.colorPicker {
  position: absolute;
  margin-left: 1rem;
  right: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
}

.label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

.colorPickerInput {
  opacity: 0;
  pointer-events: none;
}
