{ 
  "extends": ["next/core-web-vitals", "airbnb", "airbnb-typescript"],
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "rules": {
    "react/function-component-definition": [0],
    "react/jsx-props-no-spreading": [0],
    "import/prefer-default-export": [0],
    "jsx-a11y/label-has-associated-control": [0],
    "jsx-a11y/control-has-associated-label": [0],
    "max-len": [2, {
      "code": 120,
      "ignorePattern": "d=\"([\\s\\S]*?)\""
    }],
    "react/require-default-props": [0]
  }
}